<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="static/my.css">
		<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="static/arbor.js"></script>
		<script src="static/arbor-tween.js"></script>
		<script src="static/arborjsdemo.js"></script>
	</head>		
	<body>
		<canvas id="viewport" width="800" height="600"></canvas>
		<button id="foo">cool</button>
	</body>
</html>