<html>
	<head>
		<script>
			var ws = new WebSocket('ws://101.6.59.99:8000/soc');
				ws.onmessage = function(event){
					var table = document.getElementById('message');
					var data = eval('(' + event.data + ')');
					({
						'sys':function() {
							var cell = table.insertRow().insertCell();
							cell.colSpan = 2;
							cell.innerHTML = data['message'];
						},
						'user':function() {
							var row = table.insertRow();
							row.insertCell().innerHTML = data ['message'];
							row.insertCell().innerHTML = data['id'];

						},
					}[data['type']])();
			};

			function send() {
				ws.send(document.getElementById('chat').value);
				document.getElementById('chat').value = '';
			}
		</script>
	</head>
	<body>
		<input id='chat'><button onclick="send()">Send</button>
		<table id='message' border='1'></table>
	</body>