<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="static/my.css">
		<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!-- 		<script src="static/arbor.js"></script>
		<script src="static/arbor-tween.js"></script>
		<script src="static/arborjsdemo.js"></script> -->
		<script src="static/springy.js"></script>
		<script src="static/springyui.js"></script>
		<script src="static/springydemo.js"></script>

		<script>
			
		</script>
	</head>
	<body>
		<header class="top-header jumbotron" style="background-image: url(pic/banner1215.jpg); background-size:cover; background-repeat:no-repeat;"> 
		<h2 style="color:white">CoStorm</h2>
		</header>
		<div class="container">
			<div class="row">
				<p>CoStorm is an instant message tool that shows the clues</p>
				<p>Use # pair (e.g #tag#) to tag your term.</p>
				<p>Talking about two terms in one message will connect them</p>
				<p>Use Connect to connect terms manually</p>
			</div>
			<div class="row">
				<div class="col-md-6" >
					<div class="overflow height1 withborder" id='messagebox'>
						<div id='message'>
						</div>
					</div>
					
					
				</div>
				<div class="col-md-6">
					<div id='termMap' class="height1 withborder">
						<canvas id="viewport"></canvas>
					</div>
				</div>
			</div>	
				
			<div class="row">
				<div class="col-md-6">
					<div class="input-group">
						<input id='chat' name='chat' type="text" class="form-control" placeholder="Your idea... #Term# please">
						<span class="input-group-btn">
						<button id="sendbutton" class="btn btn-default" type="button">Send</button>
						</span>
					</div>
				</div>
				<div class="col-md-3">
					<div class="input-group">
						<input id='selectnode' type="text" class="form-control" placeholder="You select...">
						<span class="input-group-btn">
						<button id="deletenode" class="btn btn-default" type="button">Delete</button>
						</span>
					</div>
					
				</div>
				<div class="col-md-2">
					<button id="connectbutton" type="button" class="btn btn-success fromself">Connect</button>						
				</div>
				<div class="col-md-1">
					<button id="fullscreen" type="button" class="btn btn-default">Full screen</button>	
					
				</div>
	

			</div>
			
		</div>

		</div>
		<div id="foo">
			
		</div>

		<div class="container overlay withborder" id="fullmapview">
			<div class="row">
				<span class="glyphicon glyphicon-remove center" aria-hidden="true" id="closefull"></span>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div id='termMap'>
						<canvas id="fullviewport"></canvas>
					</div>
				</div>
			</div>
			
		</div>
		
	</body>